Makefile*
config.*
*.lo
*.la
*.xml
.idea/
.libs/
autom4te.cache/
build/
include/
missing
mkinstalldirs
modules
libtool
ltmain.sh
install-sh
acinclude.m4
aclocal.m4
configure
configure.in
run-tests.php
.deps
php_test_results_*.txt